<template>
  <div  class="display-canvas"
        @dragover="on_dragover"
        @dragend="on_dragend"
        @drop="on_drop">
    <div  ref="canvas"
          class="canvas"
          :style="{height: height+'px'}">
      <div  v-for="(entry, name) in value" :key="name"
            class="screen"
            :style="style[name]"
            draggable="true"
            @dragstart="ev => on_dragstart(ev, name)">
        <div class="name">
          {{name}}
          <span class="rotation-icon" v-html="rotation_icon[name]"/>
        </div>
        <div class="resolution">
          {{entry.resolution.join(' x ')}}
        </div>
      </div>
    </div>
  </div>
</template>

<style lang="scss">
.display-canvas {
  position: relative;
  padding: 50px;
  overflow: hidden;

  .canvas {
    position: relative;
    background: white;

    .screen {
      position: absolute;
      display: grid;
      justify-content: center;
      align-content: center;
      text-align: center;
      box-sizing: border-box;
      border: 3px solid gray;
      background: #f0f0f080;
      cursor: move;

      .rotation-icon {
        font-family: Vaadin-Icons
      }
    }
  }
}
</style>

<script>
const SNAP_PIXELS = 10
const ROTATION_ICONS = {
  normal: '',
  left: '&#xe794;',
  right: '&#xe795;',
  inverted: '&#xe64a;'
}

export default {
  name: 'DisplayCanvas',
  data() {
    return {
      width: 512,
      height: 288,
      drag_state: null,
      width_updater: null
    }
  },
  props: {
    value: {
      type: Object,
      default: Object
    }
  },
  watch: {
    value() {
      this.normalize_positions()
    }
  },
  mounted() {
    this.width_updater = setInterval( () => {
      this.width = this.$refs.canvas.getBoundingClientRect().width
    }, 500)
  },
  beforeDestroy() {
    clearInterval(this.width_updater)
  },
  computed: {
    borders() {
      let borders = {}
      for(let [name, info] of Object.entries(this.value)) {
        let {
          position: {x, y},
          resolution: [width, height],
          rotation
        } = info
        if(['left', 'right'].includes(rotation)) {
          [height, width] = [width, height]
        }
        borders[name] = [ y, x + width, y + height, x ]
      }
      return borders
    },
    scale() {
      let max_width = 0, max_height = 0
      for(let {resolution, rotation, position} of Object.values(this.value)) {
        let [width, height] = resolution
        if(['left', 'right'].includes(rotation)) {
          [height, width] = [width, height]
        }
        max_width = Math.max(max_width, width + position.x)
        max_height = Math.max(max_height, height + position.y)
      }
      return Math.min(this.width / max_width, this.height / max_height)
    },
    style() {
      let style = {}
      for(let [name, info] of Object.entries(this.value)) {
        if(info.resolution != 'off') {
          let [width, height] = info.resolution
          if(['left', 'right'].includes(info.rotation)) {
            [height, width] = [width, height]
          }
          style[name] = {
            width: width * this.scale + 'px',
            height: height * this.scale + 'px',
            left: info.position.x * this.scale + 'px',
            top: info.position.y * this.scale + 'px'
          }
        }
      }
      return style
    },
    rotation_icon() {
      let icons = {}
      for(let [name, {rotation}] of Object.entries(this.value)) {
        icons[name] = ROTATION_ICONS[rotation]
      }
      return icons
    },

  },
  methods: {
    on_dragstart(ev, name) {
      ev.dataTransfer.setDragImage(new Image, 0, 0)
      this.$set(this, 'drag_state', {
        el: ev.target,
        name,
        startX: ev.clientX,
        startY: ev.clientY,
        snapX: 0,
        snapY: 0,
        start_position: {...this.value[name].position}
      })
      this.drag_state.el.style.zIndex = 1
    },
    on_dragover(ev) {
      ev.preventDefault()
      this.find_snap_regions(ev)
      let x = ev.clientX - this.drag_state.startX
      let y = ev.clientY - this.drag_state.startY
      x +=  this.drag_state.snapX * this.scale
      y += this.drag_state.snapY * this.scale
      this.drag_state.el.style.transform = `translate3d(${x}px, ${y}px, 0)`
    },
    on_dragend() {
      if(this.drag_state) {
        this.$set(this.value[this.drag_state.name], 'position',
                  this.drag_state.start_position)
        this.end_drag()
      }
    },
    on_drop(ev) {
      ev.preventDefault()
      let {name, snapX, snapY} = this.drag_state
      let x = ev.clientX - this.drag_state.startX
      let y = ev.clientY - this.drag_state.startY
      this.value[name].position = {
        x: this.value[name].position.x + Math.round(x / this.scale) + snapX,
        y: this.value[name].position.y + Math.round(y / this.scale) + snapY
      }
      this.end_drag()
      this.normalize_positions()
      this.$emit('input', this.value)
    },
    end_drag() {
      this.drag_state.el.style.transform = null
      this.drag_state.el.style.zIndex = null
      this.drag_state = null
    },
    normalize_positions() {
      let min_x = Infinity, min_y = Infinity
      for(let {position} of Object.values(this.value)) {
        min_x = Math.min(min_x, position.x)
        min_y = Math.min(min_y, position.y)
      }
      for(let info of Object.values(this.value)) {
        this.$set(info, 'position', {
          x: info.position.x - min_x,
          y: info.position.y - min_y
        })
      }
    },
    find_snap_regions(ev) {
      let xd = Math.round( (ev.clientX - this.drag_state.startX) / this.scale )
      let yd = Math.round( (ev.clientY - this.drag_state.startY) / this.scale )
      let drag_borders = this.borders[this.drag_state.name].slice()
      for(let i=0; i<4; i++) {
        drag_borders[i] += ( (i & 1) ? xd : yd )
      }
      let border_distances = []
      for(let name of Object.keys(this.value)) {
        if(name == this.drag_state.name) continue
        for(let i = 0, j = 2; i < 4; (i++, j=(i+2) % 4)) {
          let diff = this.borders[name][i] - drag_borders[i]
          border_distances.push([diff, i, name])
          diff = this.borders[name][i] - drag_borders[j]
          border_distances.push([diff, j, name])
        }
      }
      border_distances.sort( (l,r) => Math.abs(l[0]) - Math.abs(r[0]) )
      let snapX = null, snapY = null
      for(let i = 0;
          ( i < border_distances.length                               &&
            Math.abs(border_distances[i][0]) < SNAP_PIXELS/this.scale &&
            (snapX == null || snapY == null) );
          i++) {
        let [diff, drag_border] = border_distances[i]
        if(drag_border & 1) {
          if(snapX == null) {
            snapX = diff
          }
        } else if(snapY == null) {
          snapY = diff
        }
      }
      this.drag_state.snapX = (snapX || 0)
      this.drag_state.snapY = (snapY || 0)
    }
  }
}
</script>
