<template>
  <div  class="dropdown-button"
        tabindex="-1">
    <label  role="button"
            :for="'dropdown-button-' + uid + '-input'"
            :class="{ active: dropwdown_is_open }"
            @mousedown="on_label_mousedown"
            @click="on_label_click">
      <slot />
    </label>
    <v-select :inputId="'dropdown-button-' + uid + '-input'"
              :options="options"
              :value="value"
              :closeOnSelect="true"
              :searchable="false"
              :clearable="false"
              :filterable="false"
              transition="growY"
              @search:focus="() => (dropwdown_is_open = true)"
              @search:blur="() => (dropwdown_is_open = false)"
              @input="value => $emit('input', value)" />

  </div>
</template>

<style lang="scss">
.growY-enter, .growY-leave-to {
  transform: scaleY(0);
  overflow: hidden;
}
.growY-leave-active, .growY-enter-active {
  transform-origin: top;
  transition: transform .1s ease-out;
}

.dropdown-button {
  display: inline-flex;
  flex-flow: column;

  label[role=button] {
    flex: 1;
    position: relative;
    cursor: pointer;
  }

  .v-select {
    .vs__dropdown-toggle {
      max-height: 0;
      margin: 0;
      border: none;
      padding: 0;
    }
    .vs__open-indicator {
      display: none;
    }
    .vs__dropdown-menu {
      min-width: unset;
      width: unset;
      min-width: 100%;
      border: none;
      border: 1px solid var(--border-color);
      border-top: none;
      border-radius: 0;

      .vs__dropdown-option--highlight {
        background: unset;
        color: unset;
      }
    }
  }
}
</style>

<script>
let uid = 0;

export default {
  name: 'DropdownButton',
  data() {
    return {
      uid: uid++,
      suppress_next_click: false,
      dropwdown_is_open: false
    }
  },
  props: {
    options: {
      type: Array,
      default: Array
    },
    value: {
      type: Object,
      default: null
    }
  },
  methods: {
    on_label_mousedown() {
      this.suppress_next_click = this.dropwdown_is_open
    },
    on_label_click(ev) {
      if(this.suppress_next_click) {
        ev.preventDefault()
        this.suppress_next_click = false
      }
    }
  }
}
</script>
