<!--
  Group of form elements and nested groups.

  Each group has a nesting level (see data-level attribute)
  * Level 0 is usually the form itself
    It behaves as a transparent container, its label not will be rendered.
  * Level 1 are sections
    Sections have a bold label and are demarcated.
  * Levels >= 2 are simple groupings
    The group label will be somewhat bold, the grouping will not be emphasized.
-->

<template>
  <fieldset class="form-group" :data-level="level">
    <div class="header" v-if="level && label">
      <legend>{{ label }}</legend>
      <info-button :autoclose="true" :i18n_path="i18n_path" />
    </div>
    <slot name="before"></slot>
    <component  ref="elements"
                v-for="(entry, name) in schema" :key="name"
                :is="form_components_for(entry, name)"
                :name="name"
                :schema="schema[name].properties || schema[name]"
                :value="value[name]"
                :disabled="disabled"
                :i18n_path="i18n_path+'.'+name"
                :level="level + 1"
                @focus:prev="focus_prev"
                @focus:next="focus_next"
                @validated="$emit('validated')"
                @input="on_input"/>
    <slot name="after"></slot>
  </fieldset>
</template>

<style lang="scss">
.item-view .form-group {
  display: contents;
  color: var(--text-color);
  & > * {
    margin: 4px 0;
  }
  &[data-level="1"] > :first-child {
    margin: 0;
    border-top: 2px solid var(--section-color, red);
    padding-top: 1em;
  }
  &[data-level="1"] > :last-child {
    margin-bottom: 1em;
  }
  & > * {
    padding-left: 20px;
  }
  .header {
    position: relative;
    display: grid;
    grid-template-columns: 1fr 30px;
  }
  legend {
    padding: 0;
    font-weight: bold;
  }
  &[data-level="1"] > .header {
    padding-left: 8px;
    color: black;
    cursor: default;
  }
  & > :not(fieldset):not(.header) {
    position: relative;
    display: grid;
    grid-template-columns: minmax(20ch, 35ch) minmax(30ch, 65ch) 30px;
    align-items: center;

    label span {
      line-height: 1.33;
      padding-right: 1ch;
    }
  }
  label {
    display: contents;
  }
}
</style>

<script>
import FormComponent from './FormComponentMixin.js'
import FormToggle from './FormToggle.vue'
import FormText from '../components/FormText.vue'
import FormSelect from '../components/FormSelect.vue'
import FormBooleanSelect from '../components/FormBooleanSelect.vue'
import FormIconSelect from '../components/FormIconSelect.vue'
import FormFileSelect from '../components/FormFileSelect.vue'
import InfoButton from '../components/InfoButton.vue'

export default {
  mixins: [FormComponent],
  name: 'FormGroup',
  data() {
    return {
      elements: []
    }
  },
  props: {
    value: {
      type: [Array, Object],
      default: () => ({})
    },
    level: {
      type: Number,
      default: 0
    }
  },
  mounted() {
    this.elements = this.$refs.elements || []
  },
  updated() {
    this.elements = this.$refs.elements || []
  },
  computed: {
    valid() {
      return this.elements.every(e => e.valid)
    }
  },
  methods: {
    focus_prev(element) {
      let i = this.elements.indexOf(element) - 1
      if(i < 0) {
        this.$emit('focus:prev', this)
      } else {
        this.elements[i].focus_last()
      }
    },
    focus_next(element) {
      let i = this.elements.indexOf(element) + 1
      if(i == 0 || i == this.elements.length) {
        this.$emit('focus:next', this)
      } else {
        this.elements[i].focus_first()
      }
    },
    focus_first() {
      this.elements.slice(0, 1).forEach(el => el.focus_first())
    },
    focus_last() {
      this.elements.slice(-1).forEach(el => el.focus_last())
    },
    on_input(value, source) {
      this.$set(this.value, source.name, value)
      if(Object.keys(this.value).length == 0) {
        this.$emit('input', null, this)
      } else {
        this.$emit('input', this.value, this)
      }
    },
    form_components_for(entry, name) {
      switch(name) {
      case 'custom_icon':
        return FormIconSelect
      case 'configFile':
        return FormFileSelect
      }
      switch(entry.type) {
      case 'object':
        return 'FormGroup'
      case 'boolean':
        return FormBooleanSelect
      case 'string':
        return entry.enum ? FormSelect: FormText
      case 'toggle':
        return FormToggle
      }
    },
    validate() {
      this.elements.forEach(child => child.validate())
    }
  },
  components: {
    FormToggle,
    FormText,
    FormSelect,
    FormBooleanSelect,
    FormFileSelect,
    FormIconSelect,
    InfoButton
  }
}

</script>
