<template>
  <div  @focusin="on_focus"
        @focusout="on_blur"
        @keydown.esc="on_esc_key"
        @keydown.up="goto_prev"
        @keydown.down="goto_next">
    <label :for="i18n_path">
      <span>{{ label | capitalize }}</span>
    </label>
    <input  type="text"
            ref="input"
            :id="i18n_path"
            :class="{password: schema.format == 'password', invalid: !valid}"
            :value="value"
            :placeholder="schema.default"
            :disabled="disabled"
            spellcheck="false"
            autocapitalize="off"
            autocorrect="off"
            autocomplete="off"
            @input="on_input"/>
    <info-button  ref="info_button"
                  v-if="!disabled"
                  :errors="validation_errors"
                  :i18n_path="i18n_path"
                  @toggle="() => $refs.input.focus()" />
  </div>
</template>

<script>
import FormComponent from './FormComponentMixin.js'
import InfoButton from './InfoButton.vue'

export default {
  mixins: [FormComponent],
  name: 'FormText',
  data() {
    return {
      validation_errors: []
    }
  },
  computed: {
    valid() {
      return !this.validation_errors.length
    }
  },
  methods: {
    focus() {
      this.$refs.input.focus()
    },
    goto_prev() {
      this.$emit('focus:prev', this)
    },
    goto_next() {
      this.$emit('focus:next', this)
    },
    on_focus(ev) {
      if(!this.$el.contains(ev.relatedTarget) && !this.valid) {
        this.$refs.info_button.show_errors_later()
      }
    },
    on_blur(ev) {
      if(!this.$el.contains(ev.relatedTarget)) {
        this.$refs.info_button.close_overlay()
      }
      this.$emit('input', (this.value || '').trim(), this)
    },
    on_esc_key() {
      this.$refs.info_button.close_overlay()
    },
    on_input(ev) {
      this.$nextTick(() => this.validate(ev.target.value))
      this.$refs.info_button.show_errors_later()
      this.$emit('input', ev.target.value, this)
    },
    validate(value) {
      if(value === undefined) {
        value = this.value || ''
      }
      value = value.trim()
      this.validation_errors = []
      for(let [index, validator] of (this.schema.validators || []).entries()) {
        if('required' == validator.type) {
          if(value) continue
        } else if('regex' == validator.type) {
          if(new RegExp(validator.value).test(value)) continue
        } else {
          continue
        }
        this.validation_errors.push(`${this.i18n_path}.validator_labels[${index}]`)
      }
      this.$emit('validated')
    }
  },
  components: {
    InfoButton
  }
}

</script>
