<template>
  <div  @focusout="on_blur"
        @focusin="on_focus"
        @mousedown.capture="on_mousedown">
    <label :for="i18n_path">
      <span v-if="label">{{ label | capitalize }}</span>
    </label>
    <v-select ref="select"
              :map-keydown="map_keydown"
              :closeOnSelect="false"
              :options="values"
              :value="value"
              :getOptionLabel="getLabel"
              :placeholder="getLabel(schema.default)"
              :inputId="i18n_path"
              @input="on_input">
    </v-select>
    <info-button  ref="info_button"
                  class="overlay_above"
                  :i18n_path="i18n_path"
                  @toggle="on_info_toggle" />
  </div>
</template>

<script>
import FormComponent from './FormComponentMixin.js'
import InfoButton from './InfoButton.vue'

export default {
  mixins: [FormComponent],
  name: 'FormSelect',
  data() {
    return {
      open_on_next_focus: false
    }
  },
  computed: {
    values() {
      return [...this.options.keys()]
    },
    options() {
      let opts
      if(this.$te(`${this.i18n_path}.enum_labels`)) {
        opts = this.schema.enum.map( (value, index) =>
          [ value, this.$t(`${this.i18n_path}.enum_labels[${index}]`) ] )
        if(opts.length > 7) {
          opts.sort(this.localeCompare(1))
        }
      } else {
        opts = this.schema.enum.map( value => [value, value] )
      }
      return new Map(opts)
    },
    input() {
      return this.$refs.select.$refs.search
    },
    clear_button() {
      return this.$refs.select.$refs.clearButton
    }
  },
  mounted() {
    this.input.addEventListener('input', () => {
      this.$refs.select.open = true
    })
  },
  methods: {
    getLabel(value) {
      return this.options.get(value)
    },
    focus() {
      this.input.focus()
    },
    on_info_toggle() {
      this.input.focus()
    },
    on_blur(ev) {
      if(!this.$el.contains(ev.relatedTarget)) {
        this.$refs.info_button.close_overlay()
      }
      this.$refs.select.open = false
    },
    on_input(value) {
      this.$refs.select.open = false
      this.open_on_next_focus = false
      this.input.focus()
      this.$emit('input', value, this)
    },
    on_focus() {
      this.$refs.select.open = this.open_on_next_focus
      this.open_on_next_focus = false
    },
    on_mousedown({button, target}) {
      if(button == 0 && this.$refs.select.$el.contains(target)) {
        if(!this.input.matches(':focus') && target != this.clear_button) {
          this.open_on_next_focus = true
        }
      }
    },
    map_keydown(map, select) {
      const open_dropdown = ev => {
        select.open = true
        ev.preventDefault()
      }
      return {
        ...map,
        13: ev => {
          if(select.open) {
            map[13](ev)
            select.open = false
          } else {
            open_dropdown(ev)
          }
        },
        27: () => { //Escape
          select.open = false
          this.input.blur()
          this.input.focus()
        },
        32: ev => !select.open && open_dropdown(ev), // Space
        34: ev => !select.open && open_dropdown(ev), // PageDown
        46: ev => !select.open && map[8](ev), // Delete
        38: ev => !select.open? this.$emit('focus:prev', this) : map[38](ev), // Up
        40: ev => !select.open? this.$emit('focus:next', this) : map[40](ev) // Down
      }
    }
  },
  components: {
    InfoButton
  }
}

</script>
