<template>
  <form-group :schema="schema" :value="value.settings" @input="on_settings_input" :i18n_path="i18n_path">
    <template v-slot:before>
      <slot name="before"></slot>
    </template>
    <template v-slot:after>
      <slot name="before"></slot>
    </template>
  </form-group>
</template>

<script>
import FormGroup from '../components/FormGroup.vue'

export default {
  name: 'HardwaretypeForm',
  data() {
    return {
      general_i18n_path: 'form',
      general_schema: {
        name: {
          type: 'string'
        },
        description: {
          type: 'string'
        }
      }
    }
  },
  props: {
    value: {
      type: Object,
      default: () => ({
        name: 'Hardware Type'
      })
    },
    schema: {
      type: Object,
      default: () => ({})
    },
    i18n_path: String
  },
  computed: {
    settings() {
      return this.value.settings
    }
  },
  methods: {
    on_settings_input(value) {
      this.$set(this.value, 'settings', value)
      this.on_input()
    },
    on_input(/* value */) {
      this.$emit('input')
    }
  },
  components: {
    FormGroup
  }
}
</script>
