<template>
  <form-group ref="form"
              :schema="schema"
              :value="value.settings"
              :i18n_path="i18n_path"
              @focus:prev="() => $refs.general.focus_last()"
              @validated="$emit('validated')"
              @input="on_settings_input">
    <template v-slot:before>
      <form-group class="general"
                  v-show="show_general"
                  ref="general"
                  :level="1"
                  :schema="general_schema"
                  :value="value"
                  :i18n_path="general_i18n_path"
                  @focus:next="() => $refs.form.focus_first()"
                  @validated="$emit('validated')"
                  @input="on_general_input" />
      <slot name="before"></slot>
    </template>
    <template v-slot:after>
      <slot name="after"></slot>
    </template>
  </form-group>
</template>

<script>
import FormGroup from '../components/FormGroup.vue'
import { mapState } from 'vuex'

const RE_NAME_MIDDLE_CHAR = '[\\w {}[\\]()#.:*&`\'~|?@$\\\\^%-]'
const RE_NAME_CHAR = RE_NAME_MIDDLE_CHAR.replace(/[# ]/g, '')

export default {
  name: 'ItemForm',
  data() {
    let general_schema = {
      name: {
        type: 'string',
        validators: [
          {
            type: 'required'
          }, {
            type: 'regex',
            value: `^${RE_NAME_CHAR}(${RE_NAME_MIDDLE_CHAR}*${RE_NAME_CHAR})?$`
          }
        ]
      },
      description: {
        type: 'string'
      }
    }
    if(this.value.type == 'client') {
      general_schema.mac = {
        type: 'string'
      }
    }
    return {
      general_i18n_path: 'form',
      general_schema
    }
  },
  props: {
    value: {
      type: Object,
      default: () => ({})
    },
    schema: {
      type: Object,
      default: () => ({})
    },
    show_general: {
      type: Boolean,
      default: true
    },
    i18n_path: String
  },
  computed: {
    ...mapState([
      'shortitems'
    ]),
    valid() {
      return this.$refs.form.valid && this.$refs.general.valid
    }
  },
  methods: {
    focus() {
      if(!this.$el.matches(':focus-within')) {
        this.$refs.general.focus_first()
      }
    },
    on_settings_input() {
      this.$emit('input')
      this.$nextTick().then(() => this.$refs.form.validate())
    },
    on_general_input() {
      this.$emit('input')
      this.$nextTick()
      .then(() => this.$refs.general.validate())
      .then(() => this.validate_unique_name())
    },
    validate() {
      this.$refs.form.validate()
      this.$refs.general.validate()
      this.validate_unique_name()
    },
    validate_unique_name() {
      let name_input = this.$refs.general.$refs.elements[0]
      for(let {id, subtype, name} of this.shortitems[this.value.type]) {
        if(this.value.id != id && name_input.value == name) {
          let i18n_type_label = `schema.${this.value.type}.${subtype}.label`
          name_input.validation_errors.unshift([
              'validation-error.unique_name',
              // make dynamic to reflect possible later languiage changes
              Object.create(null, {type: {get: ()=>this.$t(i18n_type_label) }})
          ])
        }
      }
    }
  },
  components: {
    FormGroup
  }
}

</script>
