<template>
  <dropdown-button  class="language-selector"
                    :options="options"
                    :value="value"
                    @input="on_input">
    <span>{{ value.label }}</span>
  </dropdown-button>
</template>

<style lang="scss">
.language-selector {
  $icon-width: 3.5ch;

  display: inline-flex;
  flex-flow: column;
  width: 11.5ch;

  label[role=button] {
    display: grid;
    grid-template: "icon text" / $icon-width 1fr;
    align-items: center;
    padding: 0;

    &::before, {
      content: "\e77e";
      font-family: Vaadin-Icons;
      justify-self: center;
    }
  }

  .v-select {
    .vs__dropdown-menu {
      width: 100%;

      .vs__dropdown-option {
        padding-left: $icon-width;
      }
    }
  }
}
</style>

<script>
import DropdownButton from './DropdownButton.vue'

export default {
  name: 'LanguageSelector',
  data() {
    return {
      options: [
        {label: 'English', locale: 'en'},
        {label: 'Deutsch', locale: 'de'}
      ]
    }
  },
  computed: {
    value() {
      return this.options.find(option => option.locale == this.$i18n.locale)
    }
  },
  methods: {
    on_input(value) {
      this.$i18n.locale = value.locale
      localStorage.locale = value.locale
    }
  },
  components: {
    DropdownButton
  }
}
</script>
