<template>
  <div class="loading-feedback inline-feedback">
    <div class="spinner" v-if="!error">
      <div/><div/><div/>
    </div>
    <template v-else-if="error">
      <div class="error">{{ error }}</div>
      <button v-if="button" @click="$emit('button')">{{ button }}</button>
    </template>
  </div>
</template>

<style lang="scss">
.loading-feedback {
  justify-items: center;
  margin: 1ex auto;
  overflow: hidden;

  .spinner > * {
    display: inline-block;
    height: 1em;
    width: 1ch;
    margin: 0 .5ch;
    background: var(--text-color);
    animation: spinner 1.4s infinite ease-in-out both;

    &:nth-child(1) {
      animation-delay: -.32s;
    }
    &:nth-child(2) {
      animation-delay: -.16s;
    }
  }

  .error {
    overflow: auto;
    white-space: pre-wrap;
  }
}
@keyframes spinner {
  0%, 80%, 100% {
    transform: scale(0);
  } 40% {
    transform: scale(1);
  }
}
</style>

<script>
export default {
  name: 'LoadingFeedback',
  props: {
    button: {
      type: String,
      default: null
    },
    error: {
      type: String,
      default: ''
    }
  }
}
</script>
