<template>
  <nav id="mainmenu">
    <router-link :to="{name: 'thinclient'}" class="thinclient">
      {{ $tc("thinclient") }}
    </router-link>
    <router-link :to="{name: 'applications'}" class="application">
      {{ $tc("application", 2) }}
    </router-link>
    <main-menu-items  type="application" />
    <template v-if="LOCAL_MANAGEMENT">
      <router-link :to="{name: 'display'}" class="device">
        {{ $t("schema.device.display.label") }}
      </router-link>
    </template>
    <template v-else>
      <router-link :to="{name: 'devices'}" class="device">
        {{ $tc("device", 2) }}
      </router-link>
      <main-menu-items  type="device" />
    </template>
    <router-link :to="{name: 'network'}" class="network">
      {{ $t("network") }}
    </router-link>
    <router-link :to="{name: 'files'}" class="files">
      {{ $tc("file", 2) }}
    </router-link>
    <router-link :to="{name: 'license'}" class="license">
      {{ $t("license") }}
    </router-link>
  </nav>
</template>

<style>
#mainmenu {
  grid-area: menu;
  color: white;
  background: var(--menu_bg);
  overflow: hidden;
  user-select: none;
}
#mainmenu > a {
  display: block;
  margin-top: 10px;
  border-left: 8px solid transparent;
  padding: 4px 0px 4px 50px;
  font-size: 16px;
  line-height: 24px;
  color: var(--menu_fg);
}

#mainmenu .router-link-active {
  border-left-color: var(--section-color);
  background-color: black;
}
#mainmenu > * {
  background-position: 10px 50%;
  background-size: 30px;
  background-repeat: no-repeat;
}
#mainmenu .thinclient {
  background-image: url("../assets/icon/thinclient.svg");
}
#mainmenu .application {
  background-image: url("../assets/icon/application.svg");
}
#mainmenu .device {
  background-image: url("../assets/icon/device.svg");
}
#mainmenu .network {
  background-image: url("../assets/icon/network.svg");
}
#mainmenu .files {
  background-image: url("../assets/icon/files.svg");
}
#mainmenu .license {
  background-image: url("../assets/icon/license.svg");
}

#mainmenu a:not(.focus-visible) {
  outline: 0;
}
</style>

<script>
import MainMenuItems from './MainMenuItems.vue'
import {LOCAL_MANAGEMENT} from '../config.js'

export default {
    data() {
      return {
        LOCAL_MANAGEMENT
      }
    },
    components: {
      MainMenuItems
    }
  }
</script>
