<template>
  <div class="simple-form">
    <div v-if="config.mac != '00:00:00:00:00:00'">
      <span>MAC</span>
      <div>{{ config.mac }}</div>
    </div>
    <form-group ref="dhcp"
                :value="config"
                :schema="dhcp_schema"
                i18n_path="form"
                @focus:prev="goto_prev"
                @focus:next="$refs.addr.focus_first()"
                @input="on_dhcp_input"/>
    <form-group ref="addr"
                :value="addr_value"
                :schema="addr_schema"
                :disabled="config.dhcp"
                i18n_path="form"
                @focus:prev="$refs.dhcp.focus_last()"
                @focus:next="goto_next"
                @validated="$emit('validated')"
                @input="on_input"/>
  </div>
</template>

<style lang="scss" src="../simple-form.scss"></style>

<script>
import FormGroup from '../components/FormGroup.vue'
import canonical from '../canonical_string.js'

const ipv4_validator = {
  type: 'regex',
  value: String.raw`^\d+\.\d+\.\d+\.\d+$`
}
const clone = o => {
  if(o == null || typeof o != 'object') {
    return o
  } else if(Array.isArray(o)) {
    return o.map(clone)
  } else {
    return Object.entries(o).reduce( (r, [k,v]) => (r[k] = clone(v), r), {})
  }
}
export default {
  name: 'network-adapter-config',
  data() {
    return {
      network: {},
      dhcp_schema: {
        dhcp: {
          type: 'toggle'
        }
      },
      dhcp_config: {},
      original: '',
      original_dhcp: null
    }
  },
  props: {
    config: {
      type: Object,
      default: () => ({})
    }
  },
  created() {
    this.original = canonical(this.config)
    this.original_dhcp = this.config.dhcp
    this.dhcp_config = this.config.dhcp? clone(this.config) : {}
  },
  watch: {
    config() {
      this.original = canonical(this.config)
      this.original_dhcp = this.config.dhcp
      this.dhcp_config = this.config.dhcp? clone(this.config) : {}
    }
  },
  computed: {
    addr_schema() {
      return {
        ip: {
          type: 'string',
          validators: this.config.dhcp? [] : [ipv4_validator]
        },
        netmask: {
          type: 'string',
          validators: this.config.dhcp? [] : [ipv4_validator]
        },
        gateway: {
          type: 'string',
          validators: this.config.dhcp? [] : [ipv4_validator]
        },
        dns : {
          type: 'object',
          0:  {
            type: 'string',
            validators: this.config.dhcp? [] : [ipv4_validator]
          },
          1: {
            type: 'string',
            validators: this.config.dhcp? [] : [{
              type: 'regex',
              value: String.raw`^(|\d+\.\d+\.\d+\.\d+)$`
            }]
          }
        }
      }
    },
    addr_value() {
      return this.config.dhcp? this.dhcp_config : this.config
    },
    valid() {
      return this.config.dhcp || this.$refs.addr.valid
    },
    changed() {
      return (this.original_dhcp != this.config.dhcp ||
              (!this.config.dhcp && this.original != canonical(this.config)))
    }
  },
  methods: {
    on_dhcp_input() {
      this.on_input()
      this.$nextTick( () => this.validate() )
    },
    on_input() {
      this.$emit('input', this.config, this)
    },
    validate() {
      if(!this.config.dhcp) {
        this.$refs.addr.validate()
      } else {
        this.$emit('validated')
      }
    },
    goto_prev() {
      this.$emit('focus:prev', this)
    },
    goto_next() {
      this.$emit('focus:next', this)
    },
    focus_first() {
      this.$refs.dhcp.focus_first()
    },
    focus_last() {
      this.$refs.addr.focus_last()
    }
  },
  components: {
    FormGroup
  }
}

</script>
