<template>
  <div  class="relationships"
        @keydown.capture.esc="toggle_overlay">
    <button class="form-button unbutton"
            tabindex="0"
            @click="toggle_overlay">
      <div class="form-title">
        <span v-t="'relationship.title'"/>
      </div>
    </button>
    <!-- <div class="content" v-if="!(loading || loading_error)"> -->
    <div class="content">
      <div  v-for="type in relationship_types"
            :class="{'show-config': show_config[type]}"
            :key="type">
        <button class="caption unbutton"
                tabindex="0"
                @click="ev => on_relationship_click(ev, type)">
          {{ $tc(type, 2) }}
        </button>
        <div v-if="show_config[type]" class="config">
          <checkboxes :items="shortitems[type]"
                      :selected="relationships[type]"
                      @change="selected => on_relationship_change(type, selected)"
                      v-slot="{ item }">
            {{ item.name }}
          </checkboxes>
        </div>
        <div v-else class="display">
          <div  v-for="item in (relationships[type] || [])"
                :key="item.id">
            <router-link  :to="{name: type, params: {id: item.id}}"
                          v-slot="{ href, navigate }">
              <a :href="href"
                  :title="item.description"
                  @click="navigate">
                  {{ item.name }}
              </a>
            </router-link>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<style lang="scss">
.relationships {
  --relationships-width: 300px;

  display: flex;
  flex-flow: column nowrap;
  width: var(--relationships-width);
  margin-left: 2ch;

  .form-button {
    @media (min-width: 1216px) {
      cursor: unset;
    }

    &.focus-visible .form-title {
      outline: 1px dotted silver;
    }
  }

  .content {
    overflow: auto;

    & > div {
      padding-top: .33em;
      padding-bottom: .33em;
      border-bottom: 1px solid var(--section-color);
      color: var(--text-color);
    }
    .caption {
      position: relative;
      display: flex;
      width: 100%;
      padding: 0 37px 0 1ch;
      font-weight: bold;
      background: white;

      &::after {
        content: "\e764";
        position: absolute;
        right: 0;
        width: 37px;
        font-weight: normal;
        font-family: Vaadin-Icons;
        text-align: center;
        color: var(--text-color);
        transition: transform .3s ease-in, color .3s ease-in;
      }
    }
    .show-config .caption::after {
      content: "\e7cc";
    }
    & > div:not(.show-config):not(:hover):not(:focus-within) .caption::after {
      color: var(--border-color);
    }
    .display {
      margin-left: 1ch;

      a {
        display: inline-block;
        text-indent: -1ch;
        padding-left: 1ch;
        line-height: 1.33;
        font-weight: inherit;
        color: var(--text-color);

        &:hover,
        &:focus {
          color: var(--link_fg);
        }
      }
    }
    .config {
      .filter,
      .select-all,
      .checkbox {
        margin-left: 1ch;
      }
      .select-all {
        border-bottom: 1px solid var(--border-color);
      }
      .inline-feedback {
        min-height: calc(4em + 1px);
      }
    }
  }
}
@media (max-width: 1216px) {
  .thinclient-view {
    margin-right: calc(2ch + 37px) !important;
  }
  .relationships {
    --relationships-width: 50%;
    margin: 0;
    border: none !important;

    .form-title.form-title {
      position: absolute;
      right: 0;
      margin-top: -36px;
      transform: rotate(270deg);
      transform-origin: bottom right;
      transition: right .3s ease-out;
    }
    .content {
      position: absolute;
      width: var(--relationships-width);
      height: calc(100% - 1px);
      right: calc(0px - var(--relationships-width));
      visibility: hidden;
      background: white;
      transition: right .3s ease-out, visibility .3s ease-out;
    }
    &.expand {
      .form-button::before {
        content :"";
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        background: silver;
        opacity: .5;
      }
      .form-title {
        right: var(--relationships-width);
      }
      .content {
        visibility: visible;
        right: 0;
        border: solid black;
        border-width: 1px 0 0 1px;
      }
    }
  }
}
</style>

<script>
import Checkboxes from '../components/Checkboxes.vue'
import { mapState } from 'vuex'

export default {
  name: 'Relationships',
  data() {
    return {
      show_config: {}
    }
  },
  props: {
    relationships: {
      type: Object,
      default: Object
    },
    relationship_types: {
      type: Array,
      default: () => ['application', 'device']
    }
  },
  computed: {
    ...mapState([
      'shortitems'
    ]),
  },
  watch: {
    relationships() {
      Object.values(this.relationships).forEach(r => r.sort(this.localeCompare('name')))
    }
  },
  methods: {
    on_relationship_click(ev, type) {
      if(!ev.target.classList.contains('focus-visible')) {
        ev.target.blur()
      }
      let show = !this.show_config[type]
      this.close_configs()
      this.$set(this.show_config, type, show)
    },
    on_relationship_change(type, relationships) {
      Object.values(this.relationships).forEach(r => r.sort(this.localeCompare('name')))
      this.relationships[type] = relationships
      this.$emit('change')
    },
    toggle_overlay() {
      this.$el.classList.toggle('expand')
    },
    close_configs() {
      this.show_config = {}
    }
  },
  components: {
    Checkboxes
  }
}

</script>
