<template>
  <label class="toggle-button">
    <input  type="checkbox"
            ref="checkbox"
            :id="inputId"
            :checked="value"
            @change="on_change"/>
    <span class="label" v-if="$slots.default">
      <slot />
    </span>
  </label>
</template>

<style lang="scss">
.toggle-button {
  display: inline-flex;
  align-items: center;
  line-height: 1;
  cursor: pointer;

  .label {
    margin-right: .5ch;
    text-align: right;
  }

  &.lefthand {
    flex-direction: row;

    .label {
      margin-left: .5ch;
      text-align: left;
    }
  }

  input:first-child {
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;

    padding: 0;
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    font-size: .74em;
    height: 1em;
    width: 2em;
    border: solid #ccc;
    border-width: .2em .3em;
    border-radius: .66em;
    text-align: center;
    background: #ccc;

    &.focus-visible {
      outline: 1px dotted white;
    }
    &:checked {
      background: var(--section-color);
      border-color: var(--section-color);
    }
    &::after {
      content: "\e75b";
      font-family: Vaadin-Icons;
      font-size: .62em;
      height: 1.62em;
      width: 1.62em;
      line-height: 1.62em;
      font-weight: 400;
      background: #fff;
      border-radius: 50%;
      transform: translateX(-50%);
      transition: .3s;
      color: transparent;
    }
    &:checked::after {
      color: var(--section-color);
      transform: translateX(50%);
    }
  }
}
</style>

<script>
export default {
  name: 'ToggleButton',
  data() {
    return {
    }
  },
  props: {
    value: {
      type: [Boolean, Number],
      default: 0
    },
    inputId: {
      type: String,
      default: null
    }
  },
  methods: {
    focus() {
      this.$refs.checkbox.focus()
    },
    on_change(ev) {
      this.$emit('change', ev.target.checked, this)
    }
  }
}
</script>
