<template>
  <div  id="openthinclient"
        :class="$route.meta.section"
        @click.capture="on_click">
    <router-link to="/" id="logo"></router-link>
    <div id="headerbar">
      <language-selector />
    </div>
    <main-menu/>
    <main>
      <router-view/>
    </main>
  </div>
</template>

<style lang="scss">
  input.password {
    font-family: 'text-security-disc' !important;
  }

  html {
    --logo_bg: #0064a2;
    --menu_bg: #2b2e33;
    --menu_fg: white;
    --text-color: #474747;
    --link_fg: #0064a2;
    --section-color: cyan;
    --border-color: #e1e5e8;

    scrollbar-color: #000 #e7e9e8;
  }
  ::-webkit-scrollbar {
    width: auto;
  }
  ::-webkit-scrollbar-thumb {
    background: #000 !important;
    border-radius: 0 !important;
  }
  ::-webkit-scrollbar-track {
    background: #e7e9e8 !important;
  }
  html, body, #openthinclient {
    height: 100%;
    margin: 0;
    padding: 0;
  }
  *:not(.focus-visible) {
    outline: none;
  }
  div {
    user-select: none;
  }
  p, ul {
    max-width: 75ch;
    margin: 0;
  }
  ul {
     padding-left: 1.66ch;
  }
  li::marker {
     content: "•\a0";
     font-weight: bold;
  }
  * + p,
  * + ul {
    margin-top: 1ex;
  }
  a {
    color: var(--link_fg);
    font-weight: bolder;
    text-decoration: none;
  }
  button:not(.icon):not(.unbutton):not([class^=vs_]),
  [role=button]:not(.unbutton) {
    display: inline-flex;
    align-items: center;
    min-height: 2em;
    border: 1px solid var(--border-color);
    padding: 0 2ch;
    box-sizing: border-box;
    font: inherit;
    font-style: normal;
    font-weight: 300;
    background: white;
    user-select: none;

    &:disabled,
    &[aria-disabled=true] {
      color: var(--border-color);
    }

    &:not(:disabled):not([aria-disabled=true]) {
      cursor: pointer;

      &:hover,
      &:focus {
        border: 1px outset var(--border-color);
      }

      &:active,
      &.active {
        box-shadow: none;
        border: 1px inset var(--border-color);
      }
    }
  }
  button.unbutton,
  button.icon {
    margin: 0;
    border: none;
    padding: 0;
    font: inherit;
    background: transparent;
    cursor: pointer;
  }
  button.icon {
    font-family: Vaadin-Icons;
  }
  input, select, .v-select .vs__dropdown-toggle {
    background: white;
    box-sizing: content-box;
    border: 1px solid var(--border-color);
    border-radius: 0;
    font: 400 14px/14px Verdana, "DejaVu Sans", "Bitstream Vera Sans", "DejaVu LGC Sans", Geneva, sans-serif;
    color: var(--text-color);
  }
  input, select {
    height: 14px;
    padding: 4px 9px;
  }
  *::placeholder {
    font: 400 14px/14px Verdana, "DejaVu Sans", "Bitstream Vera Sans", "DejaVu LGC Sans", Geneva, sans-serif;
    color: var(--text-color);
    opacity: .5;
  }
  input:focus {
    outline: 0;
    box-shadow: 0 0 2px var(--section-color);
  }
  input.invalid {
    border-color: red;
  }
  input:disabled {
    color: silver;
    border-color: transparent;
    box-shadow: 0 0 1px var(--border-color);
  }
  option:focus {
    outline: 0;
  }

  .v-select:focus-within {
    box-shadow: 0 0 2px var(--section-color);
  }
  .v-select .vs__dropdown-toggle {
    display: grid;
    grid-template-columns: 1fr 4.5ch;
    height: 22px;
    padding: 0 9px;

    .vs__selected-options {
      align-items: center;
      flex-wrap: nowrap;
      padding: 0;
      overflow: hidden;

      .vs__selected {
        position: absolute;
        top: 0;
        bottom: 0;
        align-items: center;
        max-width: 100%;
        margin: 0;
        border: none;
        padding: 0;
        line-height: 1;
        white-space: nowrap;
      }
      input.vs__search {
        margin: 0;
        border: none;
        padding: 0;
        line-height: 1;

        &::placeholder {
          opacity: .5;
        }
      }
    }
    .vs__actions {
      justify-content: flex-end;
      width: 5ch;
      padding: 0;
      line-height: 1;
    }
    .vs__actions > * {
      width: 1em;
      font-family: Vaadin-Icons;
    }
    .vs__actions .vs__clear::before {
      content: "\e810";
      font-weight: 300;
      color: var(--border-color);
      transition: color .3s ease-in;
    }
  }
  .v-select:focus-within .vs__dropdown-toggle .vs__actions .vs__clear::before,
  .v-select:hover .vs__dropdown-toggle .vs__actions .vs__clear::before {
    color: #999;
  }
  .v-select .vs__dropdown-toggle .vs__actions .vs__clear:focus::before,
  .v-select .vs__dropdown-toggle .vs__actions .vs__clear:hover::before {
    color: red;
  }
  .v-select .vs__dropdown-toggle .vs__actions .vs__open-indicator::before {
    content: "\e7bc";
  }
  .v-select:not(.vs--open) .vs__dropdown-toggle .vs__selected-options input.vs__search {
    color: transparent;
    text-shadow: 0 0 var(--text-color);
  }


  .inline-feedback {
    display: grid;
    justify-content: center;
    align-content: center;
    font-style: italic;
    font-weight: 300;
  }

  #openthinclient {
    font: 300 14px/26px Verdana, "DejaVu Sans", "Bitstream Vera Sans", "DejaVu LGC Sans", Geneva, sans-serif;
    color: var(--text-color);

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    display: grid;
    grid-template:
      "logo header" 50px
      "menu main"   1fr  / 340px 1fr;
  }

  #openthinclient.thinclient {
    --section-color: #1ca6e7;
  }
  #openthinclient.application {
    --section-color: #8500b3;
  }
  #openthinclient.device {
    --section-color: #ff5d26;
  }
  #openthinclient.network {
    --section-color: #3a0ca3;
  }
  #openthinclient.files {
    --section-color: #2db200;
  }
  #openthinclient.license {
    --section-color: #17a398;
  }

  #logo {
    grid-area: logo;
    background: var(--logo_bg) url(assets/logo.svg) 50% 50% / 66% no-repeat;
  }

  #headerbar {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 1ex 2ch;
  }

  main {
    overflow: hidden;
    position: relative;
  }

  main a:hover, main a:focus {
    text-decoration: underline;
  }
</style>

<script>
  import MainMenu from './components/MainMenu.vue'
  import LanguageSelector from './components/LanguageSelector.vue'
  import api from './api.js'

  export default {
    data() {
      return {}
    },
    created() {
      this.loadSchemas()
      this.initLanguage()
    },
    methods: {
      async loadSchemas() {
        try {
          await this.$store.dispatch('update_schemas', this.$i18n)
        } catch(ex) {
          if(ex instanceof api.ServerError) {
            this.feedback = 'Could not get schema from server'
          } else if(ex instanceof api.JSONError) {
            this.feedback = 'Got invalid schema from server'
          } else {
            this.feedback = 'Error while loading schema'
            console.error(ex) // eslint-disable-line no-console
          }
        }
      },
      initLanguage() {
        let knownLanguages = Object.keys(this.$i18n.messages)
        if(localStorage.locale) {
          this.$i18n.locale = localStorage.locale
        } else {
          for(let lang of navigator.languages) {
            let locale = lang.split('-')[0]
            if(knownLanguages.includes(locale)) {
              this.$i18n.locale = locale
              localStorage.locale = locale
              break
            }
          }
        }
        if(!knownLanguages.includes(this.$i18n.locale)) {
          this.$i18n.locale = 'en'
        }
      },
      on_click(ev) {
        if(ev.target.matches('[aria-disabled="true"], [aria-disabled="true"] *')) {
          ev.stopPropagation()
          ev.preventDefault()
        }
      }
    },
    components: {
      MainMenu,
      LanguageSelector
    }
  }
</script>
