.item-view {
  display: flex;
  flex-flow: row nowrap;
  height: calc(100% - 2ex);
  margin: 0;
  margin-bottom: 2ex;
}
.item-view .settings {
  display: flex;
  flex-flow: column nowrap;
  margin: 0 2ch;
  border: 1px solid silver;
}
.item-view .form-title {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 36px;
  font-size: 18px;
  padding-left: 20px;
  padding-right: 1ch;
  text-shadow: 0 0 0 #fff;
  background: black;
  color: white;
}
.item-view .form-title::before {
  content: "";
  position: absolute;
  top: calc(50% - 4px);
  left: 6px;
  height: 8px;
  width: 8px;
  border-radius: 50%;
  background: var(--section-color);
}
.item-view .form-title.inactive::before {
  background: #999;
}
.item-view .form-title .actions {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-end;
  flex: 1;
  align-self: flex-start;
  margin-top: 5px;
}
.item-view .form-title .actions > * {
  padding: 0 .5ch;
  font-size: 18px;
  color: white;
  cursor: pointer;
}
.item-view .form-title .actions #related .label {
  display: flex;
  flex-direction: column;
  font-size: 14px;
  height: 1em;
}
.item-view .form-title .actions #related .label .on, .off {
  height: 0;
  opacity: 0;
  transition: opacity .2s ease-in-out;
}
.item-view .form-title .actions #related input:checked ~ .label .on,
.item-view .form-title .actions #related input:not(:checked) ~ .label .off {
  opacity: 1;
}
.item-view .form-title .actions .info-button {
  font-size: 14px;
}
.item-view .form-title .actions .info-button .icon {
  color: #fff;
}
.item-view .form-title .actions .info-button .overlay {
  top: 2em;
  right: 2ch;
}
.item-view .loading-feedback {
  flex: 1;
}
.item-view .loading-feedback ~ .form {
  flex: 0;
}
.item-view .loading-feedback ~ .form-buttons * {
  visibility: hidden;
}
.item-view .form {
  flex: 1;
  overflow: hidden auto;
}
.item-view .form-buttons {
  display: flex;
  border-top: 1px solid silver;
  padding: 10px;
}
.item-view .form-buttons :first-child {
  flex: 1;
}
