<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <base href="/">
    <link rel="icon" href="<%= BASE_URL %>favicon.ico">
      <link rel="stylesheet" href="<%= BASE_URL %>font/fonts.css">
    <title>openthinclient</title>
  </head>
  <body>
    <noscript>
      <strong>We're sorry but openthinclient doesn't work properly without JavaScript enabled. Please enable it to continue.</strong>
    </noscript>
    <div id="openthinclient"></div>
    <!-- built files will be auto injected -->
  </body>
</html>
