<template>
  <div class="files-view">
    <div class="wallpaper expand">
      <div class="caption" @click="toggle" v-t="'files.wallpaper'" />
      <wallpaper-manager type="wallpaper" />
      <div class="hint" v-html="$t('files.wallpaper.help')" />
    </div>
    <div>
      <div class="caption" @click="toggle" v-t="'files.icons'" />
      <file-manager type="icon" :show_thumbnails="true"/>
      <div class="hint" v-html="$t('files.icons.help')" />
    </div>
    <div>
      <div class="caption" @click="toggle" v-t="'files.certificates'" />
      <file-manager type="certificate" />
      <div class="hint" v-html="$t('files.certificates.help')" />
    </div>
    <div>
      <div class="caption" @click="toggle" v-t="'files.openvpn'" />
      <file-manager type="openvpn" />
      <div class="hint" v-html="$t('files.openvpn.help')" />
    </div>
  </div>
</template>

<style lang="scss">
.files-view {
  display: flex;
  flex-flow: column;
  box-sizing: border-box;
  height: 100%;
  max-width: 85ch;

  > div {
    display: grid;
    grid-template:  "caption caption" 3em
                    " files   help  " 1fr / 1fr 1fr;
    grid-column-gap: 2ch;
    flex: 1;
    margin: 0 2ch 2em;
    overflow: hidden;
    transition: flex .3s ease-out;

    .caption {
      grid-area: caption;
      height: 2em;
      margin-bottom: 1ex;
      padding: .5ex 1ch;
      font-weight: bold;
      color: #fff;
      background: #000;
    }

    .hint {
      overflow: auto;
    }

    @media(max-height: 1200px) {
      &:not(.expand) {
        flex: 0;
        min-height: 3em;
        margin-bottom: 0;

        .caption {
          cursor: pointer;
        }

        .file-manager {
          display: none;
        }
      }
    }
  }

  .wallpaper {
    max-height: 300px;
  }

  .file-manager {
    flex: 1;
  }
}
</style>

<script>
import FileManager from '../components/FileManager.vue'
import WallpaperManager from '../components/WallpaperManager.vue'

export default {
  name: 'files',
  methods: {
    toggle(ev) {
      let div = ev.target.parentElement;
      [...this.$el.children].forEach(child => {
          child.classList[child == div? 'add' : 'remove']('expand')
      })
    }
  },
  components: {
    FileManager,
    WallpaperManager
  }
}

</script>
