<template>
  <div class="items-view">
    <dropdown-button  class="add-new"
                      :options="subtype_options"
                      @input="on_add_new">
      {{ $t('add-new.'+type) }}
    </dropdown-button>
    <div class="overview">
      <div class="title">
        {{ $tc(type, 2) }}
      </div>
      <checkboxes ref="items_checkboxes"
                  :items="shortitems[type]"
                  :filter_keys="['name', 'description']">
        <template v-slot:after-select-all>
          <div class="buttons">
            <button class="icon delete" @click="on_delete">&#xe80b;</button>
          </div>
        </template>
        <template v-slot:after="{ item }">
          <router-link  :to="{name: type, params: {id: item.id}}"
                        v-slot="{ href, navigate }">
            <a class="caption" :href="href" @click="navigate">
              <span class="name">
                {{ item.name }}
              </span>
              <span v-if="item.description"
                    class="description">{{ item.description }}</span>
            </a>
          </router-link>
        </template>
      </checkboxes>
      <div>
        {{ feedback }}
      </div>
    </div>
  </div>
</template>

<style lang="scss">
.items-view {
  display: flex;
  flex-flow: column nowrap;
  height: calc(100% - 2ex);
  margin: 0 2ch 2ex 2ch;
  overflow: hidden;
}
.items-view .add-new {
  align-self: flex-start;
  margin-bottom: 1ex;
}
.items-view .add-new label {
  display: flex;
  margin: 0;
  padding: 4px 10px 4px 10px;
  font-weight: 400;
  background: #e3e3e3;
}
.items-view .add-new label::before {
  content: "\e7fe";
  margin-right: 1ch;
  font-family: Vaadin-Icons;
  color: #00b400;
}
.items-view .add-new .vs__dropdown-option {
  padding-left: 1ch;
}
.items-view .overview {
  max-width: 75ch;
  display: flex;
  flex-flow: column nowrap;
  overflow: hidden;
}
.items-view .title {
  position: relative;
  display: flex;
  align-items: center;
  min-height: 36px;
  font-size: 18px;
  padding-left: 20px;
  text-shadow: 0 0 0 #fff;
  background: black;
  color: white;
}
.items-view .title::before {
  content: "";
  position: absolute;
  top: calc(50% - 4px);
  left: 6px;
  height: 8px;
  width: 8px;
  border-radius: 50%;
  background: var(--section-color);
}
.items-view .checkboxes .filter {
  border: 1px solid var(--border-color);
  padding: 0;
}
.items-view .checkboxes .filter input {
  border: none;
  padding-top: 6px;
  padding-bottom: 6px;
  padding-left: calc(1.36em + 1.5ch + 5px);
  background-position: 9px;
}
.items-view .checkboxes {
  white-space: nowrap;
}
.items-view .checkboxes .select-all {
  margin: 8px 6px;
}
.items-view .checkboxes .items {
  border: solid var(--section-color);
  border-width: 2px 0;
  padding: 8px 6px;
}
.items-view .checkboxes .buttons {
  display: flex;
  justify-content: flex-end;
}
.items-view .checkboxes .buttons button {
  margin: 0 2px 0 1ch;
  transition: filter .3s ease-out;
}
.items-view .checkboxes .buttons button:not(:hover):not(:focus) {
  filter: opacity(.5);
}
.items-view .checkboxes .buttons button.delete {
  color: #e0061e;
}
.items-view .checkboxes .buttons button.export {
  color: #5099c6;
}
.items-view .checkboxes .caption {
  display: inline-flex;
  max-width: 100%;
  overflow: hidden;
  white-space: nowrap;
  text-decoration: none;
}
.items-view .checkboxes .caption:not(:hover):not(:focus):not(:focus-within) .name {
  color: var(--text-color);
}
.items-view .checkboxes .caption:hover .name,
.items-view .checkboxes .caption:focus .name,
.items-view .checkboxes .caption:focus-within .name {
  text-decoration: underline;
}
.items-view .checkboxes .caption .name {
  flex-shrink: 0;
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
}
.items-view .checkboxes .caption .description {
  padding-left: 8px;
  overflow: hidden;
  text-overflow: ellipsis;
  text-overflow: "...)";
  font-style: italic;
  text-decoration: none;
  color: #aaa;
}
.items-view .checkboxes .caption .description::before {
  content: "(";
}
.items-view .checkboxes .caption .description::after {
  content: ")";
}
</style>

<script>
import Checkboxes from '../components/Checkboxes.vue'
import DropdownButton from '../components/DropdownButton.vue'
import api from '../api.js'
import { mapActions, mapState } from 'vuex'

export default {
  data() {
    return {
      feedback: ''
    }
  },
  computed: {
    ...mapState([
      'schemas',
      'shortitems'
    ]),
    subtypes() {
      return Object.keys({...this.schemas[this.type]})
    },
    subtype_options() {
      return this.subtypes
              .map(subtype => ({
                label: this.$t(`schema.${this.type}.${subtype}.label`),
                subtype
              }))
              .sort(this.localeCompare('label'))
    }
  },
  props: {
    type: String
  },
  created() {
    this.loadItems()
  },
  watch: {
    '$route'() {
      this.feedback = ''
      this.loadItems()
      if(this.$refs.items_checkboxes) {
        this.$refs.items_checkboxes.items_filter = ''
      }
    }
  },
  methods: {
    ...mapActions([
      'update_shortitems'
    ]),
    async loadItems() {
      try {
        await this.update_shortitems()
      } catch(ex) {
        if(ex instanceof api.ServerError) {
          this.feedback = 'Could not get data from server'
        } else if(ex instanceof api.JSONError) {
          this.feedback = 'Got invalid data from server'
        } else {
          this.feedback = 'Error while loading data'
        }
        console.error(ex) // eslint-disable-line no-console
      }
    },
    on_add_new({subtype}) {
      this.$router.push({
        name: this.$route.meta.route.create,
        params: {
          type: this.type,
          subtype
        }
      })
    },
    async on_delete() {
      let items = this.$refs.items_checkboxes.selected_filtered_items
      if(items.length == 0) {
        return
      }
      let ok = confirm([
          this.$tc('dialog.confirm-delete', 2),
          '',
          ...items.map( ({name}) => name )
        ].join('\n'))
      if(!ok) {
        return
      }
      await Promise.all(items.map(item => this.$store.dispatch('delete_item', item)))
      .then(() => {
          if(this.$refs.items_checkboxes.filtered_items.length == 0) {
            this.$refs.items_checkboxes.items_filter = ''
          }
      })
      if(this.type == 'application') {
        api.desktop_reload().catch( ex =>
          // eslint-disable-next-line no-console
          console.error('Failed to reload desktop', ex.cause || ex)
        )
      }
    }
  },
  components: {
    Checkboxes,
    DropdownButton
  }
}

</script>

