<template>
  <div class="license-view">
    <loading-feedback v-if="loading || loading_error"
                      :error="loading_error"
                      :button="$t('retry')"
                      @button="load"/>
    <template v-else>
      <h2 v-t="'license-form.info-heading'"/>
      <div id="license-info">
        <template v-if="license.type == 'evaluation'">
          <div>{{ $t('license.type-evaluation') }}</div>
          <div>{{ $t('license.remaining-days', [license.remaining_days]) }}</div>
        </template>
        <template v-else-if="license.grace_period">
          <div>{{ $t('license.type-expired') }}</div>
          <div>{{ $t('license.remaining-days', [license.remaining_days]) }}</div>
        </template>
        <template v-else-if="license.valid">
          <div>{{ $t('license.type-valid') }}</div>
          <div>
            {{ $t('license.expiration-date') }}
            {{ $d(license['expirationDate']) }}
          </div>
          <div>{{ $t('license.remaining-days', [license.remaining_days]) }}</div>
        </template>
        <template v-else-if="license.type == 'full'">
          {{ $t('license.type-expired-locked') }}
        </template>
        <template v-else>
            {{ $t('license.type-none') }}
        </template>
        <hr/>
        <div v-html="$t('license.shop-link')"/>
      </div>
      <h2 v-t="'license-form.data-heading'"/>
      <div id="license-data">
        <div class="simple-form">
          <form-group ref="license_data_form"
                      :schema="license_data_schema"
                      :value="license_data"
                      i18n_path="license-form"
                      @validated="on_license_data_validated"/>
          <form-text  :schema="mac_schema"
                      :value="license_data.mac"
                      i18n_path="license-form.mac"
                      :disabled="true" />
        </div>
        <button class="download"
                :disabled="disable_save"
                @click="on_save_license_data">
          {{ $t('license.download') }}
          <loading-feedback v-if="saving" />
        </button>
        {{ $t(saving_error) }}
      </div>
    </template>
  </div>
</template>

<style lang="scss">
.license-view {
  display: flex;
  flex-flow: column nowrap;
  box-sizing: border-box;
  max-width: 45ch;
  height: calc(100% - 1em);
  overflow: hidden;
  margin: 0 2ch;

  & > .loading-feedback {
    flex: 1;
  }

  h2 {
    font-size: 18px;
    font-weight: 300;
    background: #000;
    color: #fff;
    text-shadow: 0 0 #fff;
    padding: 0 1ch;
  }

  h2 + * {
    padding: 0 1ch;
  }

  #license-data {
    display: grid;
    gap: 2ex;

    #license-form\.pin {
      text-transform: uppercase;
    }

    button.download {
      justify-self: end;
      position: relative;
      margin-right: 3ch;

      .loading-feedback {
        position: absolute;
        top: 0px;
        left: 0;
        width: 100%;
        height: 100%;
        margin: 0;
        padding-top: 4px;
        box-sizing: border-box;
        background: white;
      }
    }
  }
}
</style>

<script>
import FormGroup from '../components/FormGroup.vue'
import FormText from '../components/FormText.vue'
import LoadingFeedback from '../components/LoadingFeedback.vue'
import api from '../api.js'


export default {
  name: 'license',
  data() {
    return {
      loading: true,
      loading_error: '',
      disable_save: true,
      saving: false,
      saving_error: '',
      license: {},
      license_data: {},
      license_data_schema: {
        email: {
          type: 'string',
          validators: [ {type: 'required'} ]
        },
        customer_id: {
          type: 'string',
          validators: [ {type: 'required'} ]
        },
        pin: {
          type: 'string',
          validators: [ {
            type: 'required'
          }, {
            type: 'regex',
            value: '^(|[a-zA-Z0-9]{4}-[a-zA-Z0-9]{4})$'
          }]
        },
      },
      mac_schema: {
        type: 'string',
        disabled: true
      }
    }
  },
  mounted() {
    this.load()
  },
  methods: {
    async load() {
      this.loading = true
      this.$set(this, 'license', await api.load_license())
      this.$set(this, 'license_data', await api.load_license_data())
      this.loading = false
      this.$nextTick(() => {
          this.$refs.license_data_form.validate()
      })
    },

    on_license_data_validated() {
      this.disable_save = !this.$refs.license_data_form.valid
    },

    async on_save_license_data() {
      this.saving = true
      this.saving_error = ''
      await api.save_license_data(this.license_data)
      try {
        let license = await api.update_license()
        if(Object.keys(license).length > 0) {
          this.$set(this, 'license', await api.load_license())
          this.saving_error = 'license.download.success'
        } else {
          this.saving_error = 'license.download.error-not-found'
        }
      } catch(ex) {
        if(ex instanceof api.NotFoundError) {
          this.saving_error = 'license.download.error-not-found'
        } else {
          if(ex.cause == 504) {
            this.saving_error = 'license.download.error-connection'
          } else {
            this.saving_error = 'license.download.error'
          }
        }
      }
      this.saving = false
    },
  },
  components: {
    FormGroup,
    FormText,
    LoadingFeedback
  }
}

</script>
