<template>
  <div class="network-view">
    <loading-feedback v-if="loading || loading_error"
                      :error="loading_error"
                      :button="$t('retry')"
                      @button="load"/>
    <div v-else class="form">
      <div  v-for="config in configurable_network"
            class="config"
            :key="config.name">
        <div class="name">{{ config.name }}</div>
        <div>
          {{ config.vendor }}
          {{ config.model }}
        </div>
        <network-adapter-config ref="configs"
                                :config="config"
                                @input="on_input"
                                @validated="on_validated"
                                @focus:prev="focus_prev"
                                @focus:next="focus_next"/>
      </div>
    </div>
    <div class="form-buttons">
      <div class="feedback">
        <span v-if="item_state.saving"
              class="saving"
              v-t="'save-hint.saving'" />
        <span v-else-if="item_state.invalid"
              class="error"
              v-t="'save-hint.invalid'" />
        <span v-else-if="item_state.save_error"
              class="error"
              v-t="'save-hint.error'" />
        <transition v-else name="fade">
          <span class="success"
                v-show="item_state.save_success"
                v-t="'save-hint.success'" />
        </transition>
      </div>
      <button class="save"
              :disabled="save_disabled"
              @click="save">
        {{ $t('save') }}
        <loading-feedback v-if="item_state.saving" />
      </button>
    </div>
  </div>
</template>

<style lang="scss">
.network-view {
  display: grid;
  grid-template-rows: 1fr auto;
  box-sizing: border-box;
  max-width: 75ch;
  height: calc(100% - 1em);
  overflow: hidden;
  margin: 0 2ch;

  & > * {
    box-sizing: border-box;
    width: 100%;
    border: 1px solid var(--border-color);
  }

  .loading {
    align-self: center;
  }

  .form {
    overflow: auto;

  }

  .form-buttons {
    display: flex;
    justify-content: flex-end;
    border-top: none;
    padding: 1ex 2ch;

    .feedback {
      flex: 1;
      font-weight: 400;

      & > ::before {
        font-family: Vaadin-Icons;
        padding-right: 2ch;
      }

      .info::before {
        content: "\e710";
      }

      .saving::before {
        content: "\e703";
      }

      .success {
        color: darkseagreen;

        &::before {
          content: "\e75b";
        }
      }

      .error {
        color: darkred;

        &::before {
          content: "\e748";
        }
      }
    }

    .save {
      position: relative;

      &:not(:disabled) {
        background: darkseagreen;
        color: black;
        transition: color .3s ease-in, background .3s ease-in;
      }

      .loading-feedback {
        position: absolute;
        top: 0px;
        left: 0;
        width: 100%;
        height: 100%;
        margin: 0;
        padding-top: 4px;
        box-sizing: border-box;
        background: white;
      }
    }

    .fade-leave-active {
      transition: opacity 3s ease-out;
    }
    .fade-enter,
    .fade-leave-to {
      opacity: 0;
    }
  }

  .config {
    margin-bottom: 1em;

    & > :not(.name) {
      padding: 0 2ch;
    }
    .name {
      margin-bottom: 1ex;
      padding: 1ex 2ch;
      font-weight: bold;
      background: #f0f0f0;
    }
  }
}
</style>

<script>
import LoadingFeedback from '../components/LoadingFeedback.vue'
import NetworkAdapterConfig from '../components/NetworkAdapterConfig.vue'
import api from '../api.js'

export default {
  name: 'network',
  data() {
    return {
      network: {},
      adapter_configs: [],
      loading: false,
      loading_error: '',
      item_state: {
        invalid: false,
        saving: false,
        save_success: false,
        save_error: false
      }
    }
  },
  computed: {
    configurable_network() {
      let configs = []
      for(let [name, config] of Object.entries(this.network)) {
        if(config.type != 'loopback') {
          configs.push(Object.assign(config, {name}))
        }
      }
      return configs
    },
    save_disabled() {
      return (
           this.item_state.saving
        || this.item_state.invalid
        || this.loading
        || !!this.loading_error
        || this.adapter_configs.every(c => !c.changed)
      )
    }
  },
  mounted() {
    this.adapter_configs = this.$refs.configs || []
    this.load()
  },
  updated() {
    this.adapter_configs = this.$refs.configs || []
  },
  methods: {
    async load() {
      this.loading = true
      this.loading_error = ''
      try {
        this.network = await api.load_network()
      } catch(ex) {
        this.loading_error = this.$t('load-fail')
        console.error(ex.cause || ex) // eslint-disable-line no-console
      }
      this.loading = false
    },
    async save() {
      this.adapter_configs.forEach(c => c.validate())
      if(!this.item_state.invalid) {
        this.item_state.saving = true
        try {
          await api.save_network(this.network)
        } catch(ex) {
          this.item_state.saving = false
          this.item_state.save_error = true
          console.error(ex.cause || ex) // eslint-disable-line no-console
          return
        }
        this.reset_item_state({
          save_success: true
        })
        this.load()
        setTimeout(() => { this.item_state.save_success = false }, 5000)
      }
    },
    reset_item_state(src = {}) {
      Object.keys(this.item_state).forEach(k => {this.item_state[k] = src[k]})
    },
    on_input(value) {
      this.network[value.name] = value
      this.item_state.save_error = false
    },
    on_validated() {
      this.item_state.invalid = !this.adapter_configs.every(c => c.valid)
      this.item_state.save_success = false
    },
    focus_prev(element) {
      let i = this.adapter_configs.indexOf(element) - 1
      if(i < 0) {
        this.$emit('focus:prev', this)
      } else {
        this.adapter_configs[i].focus_last()
      }
    },
    focus_next(element) {
      let i = this.adapter_configs.indexOf(element) + 1
      if(i == 0 || i == this.adapter_configs.length) {
        this.$emit('focus:next', this)
      } else {
        this.adapter_configs[i].focus_first()
      }
    }
  },
  components: {
    LoadingFeedback,
    NetworkAdapterConfig
  }
}
</script>
