<template>
  <div class="thinclient-view item-view">
    <div class="form-title">
      <span>{{ client.name }}</span>
    </div>
    <loading-feedback v-if="loading || loading_error"
                      :error="loading_error"
                      :button="$t('retry')"
                      @button="load"/>
    <div class="form">
      <form-group ref="client"
                  :schema="client_schema"
                  :value="client"
                  i18n_path="client_form"
                  @validated="on_validated"
                  @focus:next="() => $refs.location.focus_first()"
                  @input="on_input"/>
      <form-group ref="location"
                  :schema="location_schema"
                  :value="location.settings"
                  i18n_path="schema.location"
                  @focus:prev="() => $refs.client.focus_last()"
                  @focus:next="() => $refs.keyboard.focus_first()"
                  @validated="on_validated"
                  @input="on_input"/>
      <form-group ref="keyboard"
                  :level="1"
                  :schema="schemas.device? schemas.device.keyboard: {}"
                  :value="keyboard.settings"
                  i18n_path="schema.device.keyboard"
                  @focus:prev="() => $refs.location.focus_last()"
                  @focus:next="() => $refs.touchscreen.focus_first()"
                  @validated="on_validated"
                  @input="on_input"/>
      <form-group ref="touchscreen"
                  :level="1"
                  :schema="touchscreen_schema"
                  :value="touchscreen.settings"
                  i18n_path="schema.device.touchscreencalib"
                  @focus:prev="() => $refs.keyboard.focus_last()"
                  @focus:next="() => $refs.hardwaretype.focus_first()"
                  @validated="on_validated"
                  @input="on_input"/>
      <form-group ref="hardwaretype"
                  :level="1"
                  :schema="hardwaretype_schema"
                  :value="hardwaretype.settings"
                  i18n_path="client_form.hardwaretype"
                  @focus:prev="() => $refs.touchscreen.focus_last()"
                  @validated="on_validated"
                  @input="on_input"/>
    </div>
    <relationships  ref="relationships"
                    :relationships="relationships"
                    :relationship_types="(loading || item_state.saving)? [] : ['application']"
                    @change="after_input" />
    <div class="form-buttons">
      <div class="feedback">
        <span v-if="item_state.saving"
              class="saving"
              v-t="'save-hint.saving'" />
        <span v-else-if="item_state.invalid"
              class="error"
              v-t="'save-hint.invalid'" />
        <span v-else-if="item_state.save_error"
              class="error"
              v-t="'save-hint.error'" />
        <span v-else-if="item_state.changed"
              class="info"
              v-t="'save-hint.changed'" />
        <transition v-else name="fade">
          <span class="success"
                v-show="item_state.save_success"
                v-t="'save-hint.success'" />
        </transition>
      </div>
      <div  role="button"
            class="save"
            :aria-disabled="save_disabled"
            @click="save">
        {{ $t('save') }}
        <loading-feedback v-if="item_state.saving" />
      </div>
    </div>
  </div>
</template>

<style src="../item-view.css"></style>
<style lang="scss">
.thinclient-view {
  margin: 0 2ch 2ex 2ch;

  display: inline-grid;
  grid-template: "h r" auto
                 "f r" 1fr
                 "b b" auto / 1fr auto;

  .form-title {
    grid-area: h;
  }
  & > .loading-feedback {
    grid-area: f;
    margin: 0;
    border-width: 0 1px;
  };
  .form {
    grid-area: f;
  }
  .loading-feedback ~ .form {
    height: 0;
    border: none;
  }
  .form-buttons {
    grid-area: b;
  }
  .relationships {
    grid-area: r;
  }

  & > :not(.form-title) {
    border: 1px solid silver;
  }
  .form-buttons {
    border-top: none;
  }

}
</style>

<script>
import Relationships from '../components/Relationships.vue'
import FormGroup from '../components/FormGroup.vue'
import LoadingFeedback from '../components/LoadingFeedback.vue'
import api from '../api.js'
import canonical from '../canonical_string.js'
import { mapActions, mapState } from 'vuex'

const ALNUM = '[a-zA-Z0-9]'
const ALNUMHYP = '[a-zA-Z0-9-]'
const NAME = `${ALNUM}(?:${ALNUMHYP}*${ALNUM})?`
const HNAME = `^${NAME}(?:\\.${NAME})*$`

export default {
  name: 'thinclient',
  data() {
    return {
      relationships: {},

      client: {
        name: 'openthinclient',
        description: '',
        type: 'client',
        settings: {}
      },

      hardwaretype: {
        type: 'hardwaretype',
        name: 'default hardware type',
        description: '',
        settings: {}
      },

      location: {
        type: 'location',
        name: 'default location',
        description: '',
        settings: {}
      },

      autologin: {
        type: 'device',
        subtype: 'autologin',
        name: 'Autologin',
        description: '',
        settings: {}
      },

      keyboard: {
        type: 'device',
        subtype: 'keyboard',
        name: 'default keyboard',
        description: '',
        settings: {}
      },

      touchscreen: {
        type: 'device',
        subtype: 'touchscreencalib',
        name: 'default touchscreen',
        description: '',
        settings: {}
      },

      client_schema: {
        name: {
          type: 'string',
          validators: [
            {
              type: 'required'
            }, {
              type: 'regex',
              value: HNAME
            }
          ]
        }
      },
      originals: {},
      loading: false,
      loading_error: '',
      item_state: {
        invalid: false,
        changed: false,
        saving: false,
        save_success: false,
        save_error: false
      }
    }
  },
  computed: {
    ...mapState([
      'schemas',
      'shortitems'
    ]),
    hardwaretype_schema() {
      return this.schemas.hardwaretype? {
        Services: this.schemas.hardwaretype.Services
      } : {}
    },
    location_schema() {
      let schema = {}
      if(this.schemas.location) {
        schema.Lang = {
          type: 'object',
          properties: {
            lang: this.schemas.location['Lang.lang']
          }
        }
        schema.Time = this.schemas.location.Time
      }
      return schema
    },
    touchscreen_schema() {
      let schema = Object.assign({}, this.schemas.device && this.schemas.device.touchscreencalib)
      delete schema.Hinweis
      return schema
    },
    save_disabled() {
      return (
           this.item_state.saving
        || this.item_state.invalid
        || (this.client.id && !this.item_state.changed)
      )
    }
  },
  async created() {
    for(let locale of ['en', 'de']) {
      if(!this.$i18n.te('schema.hardwaretype', locale)) {
        await this.update_schemas(this.$i18n)
      }
      this.$i18n.mergeLocaleMessage(locale, {
        client_form: {
          hardwaretype: Object.assign(
            {},
            this.$i18n.t('schema.hardwaretype', locale),
            this.$i18n.t('client_form.hardwaretype_override', locale)
          )
        }
      })
    }
    this.load()
  },
  methods: {
    ...mapActions([
      'update_select_shortitems',
      'update_shortitems',
      'update_schemas',
      'save_item'
    ]),
    reset_item_state(src = {}) {
      Object.keys(this.item_state).forEach(k => {this.item_state[k] = src[k]})
    },
    on_validated() {
      this.item_state.invalid = !(this.$refs.client.valid &&
                                  this.$refs.hardwaretype.valid &&
                                  this.$refs.location.valid &&
                                  this.$refs.keyboard.valid &&
                                  this.$refs.touchscreen.valid)
      this.item_state.save_success = false
    },
    on_input(val, form_group) {
      this.$nextTick( () => form_group.validate())
      this.after_input()
    },
    after_input() {
      this.item_state.changed = ['client', 'hardwaretype', 'location', 'keyboard', 'touchscreen', 'relationships'].some(key =>
        this.originals[key] != canonical(this[key]) )
      this.item_state.save_error = false
    },
    async load() {
      this.reset_item_state()
      this.loading = true
      try {
        await this.update_select_shortitems('client')
        this.update_shortitems()
        let shortitems = this.shortitems.client || []
        if(shortitems.length) {
          await Promise.all([
              api.load_relationships(shortitems[0].id)
                .then(r => {this.relationships = r}),
              api.load_item(shortitems[0].id)
                .then(c => {if(c) this.client = c})
          ])
          let rel = this.relationships
          if(rel.hardwaretype) {
            this.hardwaretype = await api.load_item(rel.hardwaretype[0].id)
          }
          if(rel.location) {
            this.location = await api.load_item(rel.location[0].id)
          }
          if(rel.device) {
            let keyboard = rel.device.filter(d => d.subtype == 'keyboard')[0]
            if(keyboard) {
              this.keyboard =  await api.load_item(keyboard.id)
            }
            let touchscreen = rel.device.filter(d => d.subtype == 'touchscreencalib')[0]
            if(touchscreen) {
              this.touchscreen =  await api.load_item(touchscreen.id)
            }
            let autologin = rel.device.filter(d => d.subtype == 'autologin')[0]
            if(autologin) {
              this.autologin =  await api.load_item(autologin.id)
            }
          }
        }
        this.loading_error = ''
      } catch(ex) {
        if(ex instanceof api.ServerError) {
          this.loading_error = 'Could not load client'
        } else {
          this.loading_error = 'Error while loading client'
          // eslint-disable-next-line no-console
          console.error(ex.cause || ex)
        }
      }
      this.loading = false

      this.$nextTick(() => {
        if(!this.loading_error) {
          this.originals = {
            client: canonical(this.client),
            hardwaretype: canonical(this.hardwaretype),
            location: canonical(this.location),
            keyboard: canonical(this.keyboard),
            touchscreen: canonical(this.touchscreen),
            relationships: canonical(this.relationships)
          }
          this.$refs.client.validate()
          this.$refs.hardwaretype.validate()
          this.$refs.location.validate()
          this.$refs.keyboard.validate()
          this.$refs.touchscreen.validate()
          this.$refs.client.focus()
        }
      })
    },
    async save(ev) {
      this.item_state.saving = true
      if(!ev.target.classList.contains('focus-visible')) {
        ev.target.blur()
      }
      this.$refs.relationships.close_configs()
      try {
        await Promise.all([
          this.save_item(this.hardwaretype),
          this.save_item(this.location),
          this.save_item(this.keyboard),
          this.save_item(this.touchscreen),
          this.save_item(this.autologin)
        ])
        await this.save_item(this.client)
        this.relationships = await api.set_relationships(
            this.client.id, this.relationships,
            this.hardwaretype.id, this.location.id, this.keyboard.id, this.touchscreen.id, this.autologin.id)
      } catch(ex) {
        this.item_state.saving = false
        this.item_state.save_error = true
        // eslint-disable-next-line no-console
        console.error(ex.cause || ex)
        return
      }
      this.reset_item_state({
        save_success: true
      })
      setTimeout(() => { this.item_state.save_success = false }, 5000)

      this.originals = {
        client: canonical(this.client),
        hardwaretype: canonical(this.hardwaretype),
        location: canonical(this.location),
        keyboard: canonical(this.keyboard),
        touchscreen: canonical(this.touchscreen),
        relationships: canonical(this.relationships)
      }
    }
  },
  components: {
    Relationships,
    FormGroup,
    LoadingFeedback
  }
}

</script>
